@media screen and (max-width:576px){
    p{
        font-size: 1rem;
    }
    .nav-heading{
        font-size: 3rem;
    }
    .menu-item{
        display: none;
    }
    .menu-icon{
        visibility: visible;
        display: ;
    }
    .nav-banner{
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-img{
        background-image: url(images/Images\ 2.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: column;
        height: 50vh;
        
    }
    .workout-videos h3,.video-tutorial-text h3{
        font-size: 1.5rem;
        font-weight: 500;
    } 
    .workout-videos p,.video-tutorial-text p{
        font-size: 1rem;
    } 
    .video-tutorial{
        bottom: 2rem;
        left: -8rem;
        padding: 1rem;
    } 
    .pause-button{
        position: absolute;
        visibility: visible;
        right: 0.9rem;
        top: 1rem;
    }
    .workout-videos{
        top: 2rem;
        right: -10rem;
        padding: 1rem;
    }
    #orange-btn{
        background-color: #E6533C;
    padding: 1rem 3rem;
    color: white;
    border-radius: 3rem;
    font-size: 1rem;
    border: none;
    }
    .download-btn{
        background: none;
        padding: 1rem 3rem;
        color: white;
        border-radius: 3rem;
        font-size: 1rem;
        border: 0.1rem solid #797979;  
        margin-left: 2rem; 
    }
    .habit-items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
        margin-top: 5rem;
    }
    .heading-1{
        font-size: 3rem;
    }
    .habit-text h2{
        font-size: 2rem;
        margin-top: 0.5rem;
    }
    .extra-mile{
        width: 80%;
        margin: 5rem auto;
        background-color: #222222;
        border-radius: 3rem;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        padding: 1rem;    
    }
    .extra-mile-text h3{
        font-size: 3rem;
    }
    #join-btn{
        background-color: #E6533C;
    padding: 1rem 3rem;
    color: white;
    border-radius: 3rem;
    font-size: 1.5rem;
    border: none;
    width: 100%;
    margin-top: 1rem;
    }
    .extra-mile-img img{
        width: 30rem;
        height: 24rem;
        border-radius: 3rem;
        margin-top: 2rem;
    }
    .bmi-calculator{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }
    .bmi-fields{
        display: grid;
        grid-template-columns: 16rem 16rem;
        gap: 2rem;
    }
    .team-members{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
        background-color: rgba(255, 255, 255, 10%);
        padding: 2rem;
        border-radius: 2rem;
        margin: 5rem 0;
    
    }
    .Jerome-bell,.cameron-williamson,.darrel-steward,.dianne-russel,.cody-fisher,.theresa-web{
   
        background-repeat: no-repeat;
        width: 30rem;
        height: 30rem;
        border-radius: 2rem;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .sign-up{
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 10%);
        border-radius: 2rem;
        padding: 2rem 0;
    }
    .sign-up-text {
        width: 80%;
    }
    .sign-up-button {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    
    .sign-up-button a {
        
        color: #FFF;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 800;
    }
    .sign-up-img img{
        width: 30rem;
        height: 35rem;
    }
    .footer{
        width: 100%;
        background-color: rgba(255, 255, 255, 10%);
        /* margin-top: 5rem; */
    }
    .footer-content{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        padding: 5rem 0;
    }
    .footer-column-first{
        grid-column: span 2;
        grid-area: 1;
        
    }
    .footer-column-second{
        grid-area: 2;
        margin-bottom: 2rem;
    }
    .footer-column-second h2,.footer-column-third h2{
        font-size: 2rem;
    }
    .footer-column-second a,.footer-column-third a{
        font-size: 1.2rem;
    }
    .copyright p{
        text-align: centers;
        letter-spacing: 0.1rem;
        font-size: 1.8rem;
    }
}