
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


/* common styles */
html{
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
}
.heading{
    color: white;
}
p{
    color: #797979;
    font-size: 2rem;
}
.orange-btn{
    background-color: #E6533C;
    padding: 1rem 5rem;
    color: white;
    border-radius: 3rem;
    font-size: 2rem;
    border: none;
}
.heading-1{
    font-size: 5rem;
    color: white;
    font-weight: bold;
}
h1,h2,h3,h4{
    margin: 0;
}
/* end of common styles */

/* nav section starts */
.navbar{
    width: 100%;
    background-color: rgba(17, 17, 17, 100%);
}
.nav-menu{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
}
.menu-icon{
    visibility: hidden;
}
.logo{
    color: #E6533C;
    font-size: 3.6rem;
}
.nav-text{
    padding-bottom: 5rem;
}
.menu-item{
    border: 0.1rem solid #797979;
    padding: 1rem 0 1rem 1rem;
    border-radius: 2rem;
}
.menu-item a{
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    padding: 1rem;
}
.menu-btn{
    padding: 1rem;
    background-color: #E6533C;
    border-radius: 2rem;
}
.nav-heading{
    font-size: 8rem;
}
.shape{
    font-family: 'Miama', sans-serif;
    font-weight: 100;
}

.nav-item a{
    color: white;
}
.nav-banner{
    width: 80%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
}
.nav-img{
    background-image: url(images/Images\ 2.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    width: 40%;
    position: relative;
}
.download-btn{
    background: none;
    padding: 1rem 5rem;
    color: white;
    border-radius: 3rem;
    font-size: 2rem;
    border: 0.1rem solid #797979;  
    margin-left: 2rem; 
}
.workout-videos h3,.video-tutorial-text h3{
    font-size: 4rem;
    font-weight: 700;
} 
.workout-videos p,.video-tutorial-text p{
    font-size: 1.3rem;
} 
.video-tutorial{
    /* width: 20rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
    border: 0.1rem solid #797979;
    border-radius: 2rem;
    background-color: rgba(48, 48, 48, 54%);
    position: absolute;
    bottom: 8rem;
    left: 15rem;
} 
.workout-videos{
    /* width: 20rem; */
    border: 0.1rem solid #797979;
    border-radius: 2rem;
    padding: 1rem 2rem;
    /* margin-bottom: 5rem; */
    background-color: rgba(255, 255, 255, 10%);
    position: absolute;
    top: 12rem;
    right: -8rem;
}
.video-tutorial p,.workout-videos p{
    margin: 0;
}
/* nav section ends */


/* habit section starts */
.habit{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.habit-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 5rem;
}
.habits-img{
    border-radius: 50%;
}
.first-habit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.habit-text h2{
    font-size: 3rem;
    margin-top: 1rem;
}
/* habit section ends */
/* extra-mile section starts */
.extra-mile{
    width: 80%;
    margin: 5rem auto;
    background-color: #222222;
    border-radius: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0;    
}

.extra-mile-text h3{
    font-size: 5rem;
}

.extra-mile-img img{
    width: 40rem;
    height: 32rem;
    border-radius: 3rem;
}
/* extra-mile section ends */

/* calculator section starts */
.calculator{
    background-color: #222222;
}
.bmi-calculator{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.calculator-elements{
    
}
.calculator-elements h2,.bmi-text h2{
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 0;
    color: white;
}
.table{
    border: 0.1rem solid #797979;
    border-collapse: collapse;
}
td,th{
    border:  0.1rem solid #797979;
}
th,td{
    font-size: 2rem;
    padding: 1rem 2rem;
    color: white;
}
td{
    color: #797979;
}
.bmi-fields{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.bmi-fields input[type=text]{
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 10%);
}
.bmi-fields>select{
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 10%);
    color: #757575;
}
.last-field{
    grid-column: span 2;
}
.calculate-btn{
    margin: 2rem 0;
}
/* calculator section ends */
/* team section */
.team{
    width: 80%;
    margin: 10rem auto;
}
.team-text{
    text-align: center;
}
.team-members{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    background-color: rgba(255, 255, 255, 10%);
    padding: 2rem;
    border-radius: 2rem;
    margin: 5rem 0;

}
.Jerome-bell,.cameron-williamson,.darrel-steward,.dianne-russel,.cody-fisher,.theresa-web{
   
    background-repeat: no-repeat;
    width: 45rem;
    height: 45rem;
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
    position: relative;
}
.Jerome-bell{
    background-image:url(images/trainer1.png);
}
.cameron-williamson{
    background-image: url(images/trainer2.png);
}
.darrel-steward{
    background-image: url(images/trainer3.png);
}
.dianne-russel{
    background-image: url(images/trainer4.png);
}
.cody-fisher{
    background-image: url(images/trainer5.png);
}
.theresa-web{
    background-image: url(images/trainer6.png);
}
.team-members>div>h3{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 5rem;
    left: 2rem;
}
.team-members>div>p{
    color: rgba(255, 255, 255, 50%);
    font-size: 1.5rem;
    position: absolute;
    bottom: 1rem;
    left: 2rem;
}
/* end of team section */

/* footer */
.footer{
    background-color: rgba(255, 255, 255, 10%);
    /* margin-top: 5rem; */
}
.footer-logo{
    font-size: 7rem;
    color: #E6533C;
}
.footer-content{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    padding: 5rem 0;
}
.footer-column-first{
    grid-column: span 2;
}
.footer-column-second,.footer-column-third{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-column-second h2,.footer-column-third h2{
    font-size: 3.2rem;
    color: white;
    font-weight: bold;
}
.footer-column-second a,.footer-column-third a{
    font-size: 2.4rem;
    color: #797979;
    text-decoration: none;
}

.copyright{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
hr{
    width: 100%;
    /* color: rgba(255, 255, 255, 10%); */
    border: 0.1rem solid rgba(255, 255, 255, 10%);
}
.copyright p{
    text-align: centers;
}
/* end of footer */